@charset "UTF-8";

/* 0 - 全局
-------------------------------- */

a{ color: #c40b00; }

.wrap{ max-width: 1000px; }

/* 1 - 页眉
-------------------------------- */



/* 2 - 正文
-------------------------------- */
main section{
    padding: 5em 0;
    position: relative;
}
@media screen and (max-width: 900px) {
    main section{
        padding: 3em 0;
    }
}

#info{ background: url(img/bg-1.png) fixed; }
#skills{ background: #f8bd24; }
#works{ background: url(img/bg-2.png) fixed; }
#team{ background: url(img/bg-3.png) fixed; }

.title{
    margin-bottom: 1rem;
}
.title:before{
    float: left;
    margin-right: .5em;
    font-family: "FontAwesome";
}

#info .title:before{
    content: "\f005";
}
#skills .title:before{
    content: "\f19d";
}
#works .title:before{
    content: "\f091";
}
#story .title:before{
    content: "\f0b1";
}
#team .title:before{
    content: "\f024";
}

/* - 技能 */
.skills-icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 5px rgba(0,0,0,0.3);
}
.skills-icon:hover i{
    transform: rotate(1turn);
}
.skills-icon i{
    font-size: 50px;
    line-height: 100px;
    transition: transform 0.5s;
}
.skills-title{
    margin-top: 1.5em;
    text-align: center;
}

/* - 作品 */
.works-item img{
    transition: transform 0.3s;
}
.works-item img:hover{
    transform: scale(1.05, 1.05);
}
.works-item p{
    padding: 1em 0;
    text-align: center;
}

/* - 经历 */
.timeline{
    list-style: none;
    margin-left: 1em;
    padding-left: 1.5em;
    border-left: 2px grey solid;
}

.timeline li{
    line-height: 1.5em;
    position: relative;
    margin-bottom: 1.5em;
}
.timeline li:hover:before{
    transform: scale(1.2, 1.2);
}
.timeline li:before{
    content: "";
    left: -2.3em;
    width: 1.5em;
    height: 1.5em;
    display: block;
    position: absolute;
    background: #f8bd24;
    border-radius: 100%;
    transition: transform .3s;
}


/* 3 - 页尾
-------------------------------- */
footer{
    color: #fff;
    padding: 1em 0;
    text-align: center;
    background: #72655b;
}
footer a{
    color: inherit;
}