@charset "UTF-8";

strong{
  color: darkred;
}
/* timeline */
.timeline{
    list-style: none;
    margin-left: 1em;
    padding-left: 1.5em;
    border-left: 2px grey solid;
}

.timeline li{
    line-height: 1.5em;
    position: relative;
    margin-bottom: 1rem;
}
.timeline li:hover:before{
    transform: scale(1.2, 1.2);
}
.timeline li:before{
    content: "";
    left: -2.3em;
    width: 1.5em;
    height: 1.5em;
    display: block;
    position: absolute;
    background: #f8bd24;
    border-radius: 100%;
    transition: transform .3s;
}

/* timeline firstline */

.timeline .firstline {
    font-weight: bold;
    display: flex;
    margin-bottom: 1rem; 
}
  
.timeline .firstline .left {
    margin-right: auto;
}
  
.timeline .firstline .right {
    margin-left: auto;
    font-style: italic;
}
.timeline .firstline .reference {
    font-size: medium;
    font-weight: normal;
}

/* timeline publication div */

.timeline .pub{
    display: flex;
    flex-direction: row;
}

.timeline .pub .pub-content{
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.timeline .pub .pub-pic{
  margin-top: 0.5rem;
  float: left;
  width: 100px;
}@media (min-width: 72em) {
  .timeline .pub .pub-pic{
    width: 200px;
  }
}

.timeline .pub .pub-pic img{
  width: 100px;
  height: auto;
  vertical-align: middle;
}@media (min-width: 72em) {
    .timeline .pub .pub-pic img {
      width: 200px;
    }
  }

.timeline .pub .pub-content .papertitle{
  font-weight: bold;
  font-size: smaller;
  margin-bottom: 0.5rem;
}

.timeline .pub .pub-content .author{
  font-size: smaller;
  margin-bottom: 0.5rem;
}

.timeline .pub .pub-content .author strong{
  font-weight: bold;
}

.timeline .pub .pub-content .links{
  font-size: smaller;
}

.timeline .pub .pub-content .links strong{
  font-weight: bold;
  font-size: medium;
}

/* .timeline .pub .pub-content a{
  color: #000;
} */

/* timeline publication div */

.timeline .price {
  display: flex;
  margin-bottom: 1rem; 
  font-size: medium;
}

.timeline .price .name {
  font-weight: bold;
  font-style: italic;
}

.timeline .price .time {
  font-style: italic;
}

.timeline .price .bar{
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;
  width: 2px;
}@media (min-width: 72em) {
  .timeline .price .bar {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.timeline .price .level{
  margin-left:auto;
  font-weight: bold;
  font-style: italic;
}

/* timeline normalcontent */

.timeline .normalcontent {
    font-size: medium;
    display: flex;
    font-style: italic;
    margin-top: 0.2rem;
}

.timeline .normalcontent .right {
    margin-left: auto;
    color: darkred;
}

.timeline .normalcontent .left {
    margin-right: auto;
}


.timeline .normalcontent a {
    font-weight: bold;
}

.wrap h2.titlefont{
    color:  #4d4f53 ;
    font-family: "Abril Fatface";
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}


/* sidebar */

.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: #fff;
    background-color: #198664; 
    position: relative;
    /* display: flex;
    align-content: center;
    justify-content: center; */
  }
  @media (min-width: 48em) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 16.5rem;
      text-align: left;
      overflow: hidden;
      overflow-y: auto;
      align-content: center;
      justify-content: center;
    }
  }
  
  .sidebar .avatar{
    margin:auto;
    height: 240px;
    width: 240px;
    background: #fff;
    border-radius: 100%;
    border: #fff 5px solid;
    transition: transform 0.5s;
  }
  .sidebar .avatar:hover{
    transform: rotate(1turn);
  }
  .sidebar .avatar img{
    border-radius: 100%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  /* Sidebar links */
  .sidebar a {
    color: #fff;
  }
  
  /* About section */
  .sidebar .sidebar-about h1 {
    color: #fff;
    margin-top: 0;
    font-family: "Abril Fatface";
    font-size: 3.25rem;
    text-align: center;
  }

  .sidebar .sidebar-about h1 a:hover{
    color: #1b374b;
  }

  .sidebar .sidebar-about p.lead {
    text-indent: 14%;
    font-size: 1rem;
    word-break: break-all;
    color: #99e3cc;
  }

  /* Sidebar nav */
  .sidebar .sidebar-nav {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  .sidebar .sidebar-nav-item {
    display: block;
    line-height: 1.75;
  }
  
  .sidebar a.sidebar-nav-item:hover {
    color: #1b374b;
  }
  
  .sidebar .sidebar-nav-item.active {
    font-weight: bold;
  }
  /* Sticky sidebar
   *
   * Add the `sidebar-sticky` class to the sidebar's container to affix it the
   * contents to the bottom of the sidebar in tablets and up.
   */
  
  @media (min-width: 48em) {
    .sidebar .sidebar-sticky {
      position: absolute;
      right:  1rem;
      top: 1rem;
      left:   1rem;
      bottom: 1rem;
    }
  }
  

/*   
Sidebar Right
*/

.sidebar-right {
    background-color: #1da57a; 
    
    align-items: center;
  }
  @media (min-width: 48em) {
    .sidebar-right {
      position: fixed;
      right: 0;
      top: 0;
      transition: width 0.2s ease, height 0.2s ease, display 0.2s ease;
      font-weight: bold;
    }
  }

.sidebar-right.hover-before {
    width: 6rem;
    height: 2rem;
}

.sidebar-right.hover-after {
    width: 6rem;
    height: 8rem;
}

.sidebar-right .sidebar-right-sticky {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  padding: 0.5rem 0;
}


.sidebar-right .sidebar-right-sticky .sidebar-right-content {
    font-size: smaller;
    color: #fff;
    position: relative;
}

.sidebar-right .sidebar-right-sticky .sidebar-right-content a {
  color: #fff;
}

.sidebar-right .sidebar-right-sticky .sidebar-right-content .bar{
  position: absolute;
  top: 100%;
  left: 15%;
  width: 70%;
  height: 1px;
  background: #fff;
}

.sidebar-right .sidebar-right-sticky a:hover {
    color: #1b374b;
}

/* card */

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #f1f1f1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: inset 0 0 10px rgb(112, 112, 112);
}

.card .card-content {
  padding: 20px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card .card-action {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 20px;
}

.card .card-content .row {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.card .role {
  position: relative;
  right: initial;
  top: initial;
  font-size: 1.25rem;
}