<div class="sidebar-right hover-before" id="hover_before">

</div>

<div class="sidebar-right hover-after" id="hover_after" style="display: none;">
    <div class="sidebar-right-content">
        <a href="#education">Education</a>
    </div>
    <div class="sidebar-right-content"> 
        <a href="#research">Research</a>
    </div>
    <div class="sidebar-right-content">
        <a href="#publication">Publication</a>
    </div>
    <div class="sidebar-right-content">
        <a href="#award">Award</a>
    </div>
</div>
<script src="{{ site.baseurl }}public/js/hover.js"></script> 